{% load static %}

<!DOCTYPE html>
<html>
<title>home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'selfteach/css/w3.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'selfteach/css/landing.css' %}">

<body style="background-color:black">

    <!-- Navbar (sit on top) -->
    <div class=" w3-top ">
        <div class="w3-bar w3-white w3-card " id="myNavbar ">
            <a href="{% url 'selfteach-home' %}" class="w3-bar-item w3-button w3-wide ">Selfteach</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small ">
                <a href="{% url 'readme' %} " class="w3-bar-item w3-button ">README</a>
                <a href="#work " class="w3-bar-item w3-button "><i class="fa fa-pencil-square-o" aria-hidden="true"></i> CURRENT PROBLEM SET</a>
                <a href="#work " class="w3-bar-item w3-button "><i class="fa fa-database" aria-hidden="true"></i> ARCHIVE</a>
                <a href="#pricing " class="w3-bar-item w3-button "><i class="fa fa-book" aria-hidden="true"></i> INGEST</a>
                <a href="#contact " class="w3-bar-item w3-button "><i class="fa fa-download" aria-hidden="true"></i> EXPORT</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0) " class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium " onclick="w3_open() ">
                <i class="fa fa-bars "></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large " style="display:none " id="mySidebar ">
        <a href="javascript:void(0) " onclick="w3_close() " class="w3-bar-item w3-button w3-large w3-padding-16 ">Close ×</a>
        <a href="#about " onclick="w3_close() " class="w3-bar-item w3-button ">README</a>
        <a href="#team " onclick="w3_close() " class="w3-bar-item w3-button ">TEAM</a>
        <a href="#work " onclick="w3_close() " class="w3-bar-item w3-button ">WORK</a>
        <a href="#pricing " onclick="w3_close() " class="w3-bar-item w3-button ">PRICING</a>
        <a href="#contact " onclick="w3_close() " class="w3-bar-item w3-button ">CONTACT</a>
    </nav>

    {% block content %}{% endblock %}

</body>

</html>